<div class="content w-100">

    <!-- Page Title -->
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h6 class="text-dark">CS Audit Portal</h6>
            <div class="header-right">
                <div class="user-info">
                    <span>USER <strong style="color: #a50034;">CS Audit Portal</strong>
                        <strong style="color: gray;">/Claim Search</strong></span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2 class="page-title">Audit Monitoring Dashboard</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="monitoring">
                    <div class="search-date">
                        <input type="checkbox" class="checkbox" (change)="onSearchByDate($event)" checked>
                        <h6 class="text-dark">Search By Date</h6>
                    </div>
                   
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="form-floating">
                                <select formControlName="status" class="form-select table-header-fix" id="statesSelect"
                                [(ngModel)]="selectedStatus">
                                    <option value="">Select Status</option>
                                    <option value="pending">Pending Data</option>
                                    <option value="process">Process Data</option>

                                </select>
                                <label for="statesSelect">Status</label>
                            </div>
                        </div>
                             <div class="col-lg-3 col-md-6 col-sm-12">

                        <div class="form-floating">
                            <select
                                class="form-select table-header-fix"
                                id="statesSelect"
                                formControlName="auditType">
                                <option value="">
                                    Select Audit Type
                                </option>
                                @for (item of auditTypes$ | async; track item.ID) {
                                    <option [value]="item.ID">
                                        {{ item.VALUE }}
                                    </option>
                                }
                            </select>
                            <label for="statesSelect">
                                Audit Type
                            </label>
                        </div>
                       
                    </div> 
                       
                       
                          <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="form-floating input-group mb-3 mandatory">
                            <input type="text" class="form-control datepicker"
                                id="fromAuditDate" formControlName="fromDate" placeholder="From Audit Date">
                            <label for="fromAuditDate" class="z-index-10">
                                From Audit Date
                            </label>
                            <span class="input-group-text calendar-icon">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                        </div>
                    </div>

                      <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="form-floating input-group mb-3 mandatory">
                            <input type="text" class="form-control datepicker"
                                id="toAuditDate" formControlName="toDate" placeholder="To Audit Date">
                            <label for="toAuditDate" class="z-index-10">
                                To Audit Date
                            </label>
                            <span class="input-group-text calendar-icon">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                        </div>
                    </div>
                    </div>
                    
                    

                    <div class="p-1 d-flex gap-2">

                        @if(selectedStatus === 'pending'){
                         <button type="button" class="btn btn-danger" (click)="resetForm()"> Reset</button>
                         <button type="button" class="btn btn-danger" (click)="auditMonitoringForm()">Search</button>
                         <button type="button" class="btn btn-success" (click)="downloadData()"> Download</button>
                         <button type="button" class="btn btn-success"> Submit To Branch</button>
                         <button type="button" class="btn btn-success" (click)="rejectRequest()">Reject</button>

                        }
                        @else{
                            <button type="button" class="btn btn-danger" (click)="resetForm()"> Reset</button>
                            <button type="button" class="btn btn-danger" (click)="auditMonitoringForm()">Search</button>
                            <button type="button" class="btn btn-success">Submit To Branch</button>
                            <button type="button" class="btn btn-danger" (click)="deleteData()">Delete </button>

                        }

                    </div>
                </form>
            </div>

        </div>
    </div>

</div>