<div class="sidebar" [class.sidebar-collapsed]="isCollapsed">

    <!-- Top -->
    <div class="sidebar-top">

        <div class="brand">
            <div class="brand-info" *ngIf="!isCollapsed">
                <h3>LG CSNET</h3>
            </div>

        </div>

    </div>

    <!-- Menu -->
    <div class="sidebar-menu">
        <!-- Parent -->
        <div class="menu-group">

            <div class="menu-parent"
                 (click)="auditOpen = !auditOpen">

                <div class="menu-left">

                    <i class="fa-solid fa-shield-halved"></i>

                    <span *ngIf="!isCollapsed">
                        CS Audit Portal
                    </span>

                </div>

                <i class="fa-solid fa-chevron-down arrow"
                   *ngIf="!isCollapsed"
                   [class.rotate]="auditOpen">
                </i>

            </div>

            <!-- Child -->
            <div class="submenu"
                 *ngIf="auditOpen && !isCollapsed">

                <a routerLink="/audit-claim-upload"
                   routerLinkActive="active-link">

                    <i class="fa-regular fa-circle-dot"></i>
                    <span>Audit Claim Upload</span>

                </a>

                <!-- <a routerLink="/audit-monitoring-dashboard"
                   routerLinkActive="active-link">

                    <i class="fa-regular fa-circle-dot"></i>
                    <span>Monitoring Dashboard</span>

                </a> -->

                <a routerLink="/review"
                   routerLinkActive="active-link">

                    <i class="fa-regular fa-circle-dot"></i>
                    <span>Review Process</span>

                </a>

                <!-- <a routerLink="/evaluation"
                   routerLinkActive="active-link">

                    <i class="fa-regular fa-circle-dot"></i>
                    <span>Evaluation Process</span>

                </a> -->
                 <a routerLink="/feedback-status-report"
                             routerLinkActive="active-link">

                  <i class="fa-regular fa-circle-dot"></i>
                <span>Feedback Status Report</span>

                </a>

                 <a routerLink="/audit-summary-report"
                              routerLinkActive="active-link">

                 <i class="fa-regular fa-circle-dot"></i>
                <span>Audit Summary Report</span>

                </a>
<!-- 
                  <a routerLink="/FeedbackStatus"
                   routerLinkActive="active-link">

                    <i class="fa-regular fa-circle-dot"></i>
                    <span>Feedback Status</span>
                </a>

                
                  <a routerLink="/AuditSummaryReport"
                   routerLinkActive="active-link">

                    <i class="fa-regular fa-circle-dot"></i>
                    <span>Audit Summary Report</span>
                </a> -->

            </div>

        </div>

    </div>

</div>