<!-- Page Content -->
<div class="container-fluid mt-3">
  <div class="d-flex justify-content-between align-items-center mb-1">
    <h6 class="text-dark">CS Audit Portal</h6>

    <div class="header-right">
      <div class="user-info">
        <span>
          USER
          <strong style="color: #a50034">CS Audit Portal</strong>
          <strong style="color: gray">/Claim Search</strong>
        </span>
      </div>
    </div>
  </div>
  <ng-container>
    <div class="card shadow-sm">
      <div class="card-header">
        <h2 class="page-title">Audit Claim Upload</h2>
      </div>

      <div class="card-body">
        <div class="search-date">
          <input type="checkbox" class="checkbox" (change)="onSearchByDate($event)" />

          <h6 class="text-dark">Search By Date</h6>
        </div>

        <form [formGroup]="auditClaimUpload">
          <div class="row g-3">
            <!-- Audit Type -->
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="form-floating">
                <select
                  class="form-select table-header-fix"
                  id="statesSelect"
                  formControlName="auditType"
                >
                  <option value="">Select Audit Type</option>
                  <option *ngFor="let item of auditTypeList" [value]="item.ID">{{ item.VALUE }}</option>
                </select>
                <label for="statesSelect"> Audit Type </label>

                <small
                  class="text-danger"
                  *ngIf="
                    auditClaimUpload.get('auditType')?.touched &&
                    auditClaimUpload.get('auditType')?.hasError('required')
                  "
                >
                  Audit Type is required.
                </small>
              </div>
            </div>
            <!-- Date -->
            <div class="col-lg-2 col-md-3 col-sm-6">
              <div class="form-floating input-group mb-3 mandatory">
                <input
                  formControlName="fromDate"
                  type="text"
                  class="form-control datepicker"
                  id="floatingToDate"
                  placeholder="To Date"
                />
                <label for="floatingToDate" class="z-index-10"> From Audit Date </label>
                <span class="input-group-text calendar-icon">
                  <i class="fa-solid fa-calendar-days"></i>
                </span>

                <small
                  class="text-danger"
                  *ngIf="
                    auditClaimUpload.get('fromDate')?.touched &&
                    auditClaimUpload.get('fromDate')?.hasError('required')
                  "
                >
                  Audit Date is required.
                </small>
              </div>
            </div>

            <!-- File Upload -->
           <input
  type="file"
  class="form-control file-width"
  (change)="UploadFile($event)"
/>

<small
  class="text-danger"
  *ngIf="isSubmitted && !selectedFile"
>
  Please upload an Excel file.
</small>

            <!-- Download Button -->
            <div class="col-lg-4 col-md-6 col-sm-12">
              <button type="button" class="btn btn-warning" (click)="downloadTemplate()">
                Download Template for Claim Upload (.xls)
              </button>
            </div>
          </div>

          <!-- Buttons -->
          <div class="p-1 d-flex gap-2">
            <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
            <button type="button" class="btn btn-success" [disabled]="auditClaimUpload.invalid || isUploading" (click)="ProcessUploadData()" >
              Upload
            </button>
          </div>
          <div class="modern-design-button-group" *ngIf="sessionId && sessionId !== null && sessionId !== ''">
            <button
            type="button"
            class="btn btn-danger m-1"
            (click)="getUpdatedData()"
          >
            Verify Uploaded Excel Data
          </button>

          <button 
            class="btn btn-danger" 
            type="button"
            *ngIf="errorCount > 0"
            (click)="downloadErrorFile()">Download {{errorCount}} Error</button>
          </div>
          
        </form>
      </div>
    </div>
  </ng-container>

<div class="card card-grid" *ngIf="verifyAuditData && verifyAuditData.length > 0">
      <div class="card-body">
        <div class="table-header-fix bank-tenure-rate-table">
          <div class="table-scroll-wrapper equal-table">
            <table class="table table-bordered align-middle no-mb">
              <thead>
                <tr>
                  <th>
                    <input
                      type="checkbox"
                      [(ngModel)]="selectAll"
                      (change)="toggleAllSelection()"
                    />
                    Select All
                  </th>
                  <th>Audit Type</th>
                  <th>CH_CS_CODE</th>
                  <th>RSM</th>
                  <th>Evaluation Group</th>
                  <th>SVC Data From Code</th>
                  <th>CAPTIVE CHANNEL MAPPING ORIG</th>
                  <th>SHIP TO CODE</th>
                  <th>SVC Department Name</th>
                  <th>Receipt User ID</th>
                </tr>
              </thead>

             <tbody>
                <tr *ngFor="let item of verifyAuditData">
                  <td>
                    <input
                      type="checkbox"
                      [(ngModel)]="item.selected"
                      (change)="updateSelectAllState()"
                    />
                  </td>
                  <td>{{ item?.['AUDIT TYPE'] }}</td>
                  <td>{{ item.CH_CS_CODE }}</td>
                  <td>{{ item.RSM }}</td>
                  <td>{{ item.EVALUATION_GROUP }}</td>
                  <td>{{ item.SVC_DATA_FROM_CODE }}</td>
                  <td>{{ item.CAPTIVE_CHANNEL_MAPPING_ORIG }}</td>
                  <td>{{ item.SHIP_TO_CODE }}</td>
                  <td>{{ item.SVC_DEPARTMENT_NAME }}</td>
                  <td>{{ item.RECIEPT_USER_ID }}</td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>

        <div class="row g-4 my-2">
          <!-- Status -->
          <div class="col-lg-6">

            <div class="card shadow-sm h-100">

              <div class="card-header fw-bold">
                Update Status
              </div>

              <div class="card-body">

                <label class="form-label">
                  Status
                </label>

                <select
                  class="form-select mb-3"
                  [(ngModel)]="status">

                  <option value="">
                    Select Status
                  </option>

                  <option value="Pending Data">
                    Pending Data
                  </option>

                </select>

                <button
                  class="btn btn-success w-100"
                  (click)="saveStatus()">

                  Save Status

                </button>

              </div>

            </div>

          </div>
          <!-- Reject -->
          <div class="col-lg-6">

            <div class="card shadow-sm h-100">

              <div class="card-header fw-bold text-danger">

                Reject Records

              </div>

              <div class="card-body">

                <label class="form-label">

                  Reject Reason

                </label>

                <textarea
                  rows="3"
                  class="form-control mb-3"
                  [(ngModel)]="rejectReason"
                  placeholder="Enter reject reason">

                </textarea>

                <button
                  class="btn btn-danger w-100"
                  (click)="rejectStatus()">

                  Reject Selected

                </button>

              </div>

            </div>

          </div>
        </div>
      </div>
      </div>
 <div
  class="text-center mt-5"
  *ngIf="sessionId && (!verifyAuditData || verifyAuditData.length === 0)"
>
  <h1>📭</h1>
  <h4>No records found</h4>
  <p class="text-muted">
    There is no data available for the selected Session ID.
  </p>
</div>



<!-- Modal -->
<div class="modal fade" id="commonModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          [class.text-success]="modalType == 'success'"
          [class.text-danger]="modalType == 'error'"
          [class.text-warning]="modalType == 'warning'"
        >
          {{ modalTitle }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {{ modalMessage }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<app-bulk-loader
*ngIf="isUploading"
[progress]="progress()"
[message]="statusMessage()"
></app-bulk-loader>